[user]
	email = hendershotjoshr@gmail.com
	name = Josh Hendershot
[core]
	symlinks = true
  editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
  rebase = false
[push]
  autoSetupRemote = true
